/* Inserta tu código aqui */
*{
  outline:solid red 1px;
}
h3{
	color:white;
	font-size:20px;
	width:200px;
	margin-left:40%;
}
h2{
	color:white;
	text-align:center;
	margin:40px 0 30px 0;
}
#especial{
	color:white;
	text-align:center;
	margin:15px 0 50px 0;
}
.menu{
	background:#2c3e50;
}
#list-nav{
	list-style:none;
}
#list-nav li{
   width:100px;
   display:inline-block;
   height:25px;
   margin-top:20px;

}
#list-nav a{
	color:white;
	text-decoration:none;
	font-size:12px;
	margin:20px;
	}
#list-nav li:hover{
  background:#111820;
}
.super-star{
	background:#18bc9c;
}
.linea{
	width:60px;
	height:2px;
	background:white;
	margin-bottom:5px;
}
.estrella{
	color:white;
	margin:0 5px 0 5px;
}
.linea , .estrella{
	display:inline-block;
}
.logotipo{
	width:160px;
	margin:0 auto;
}
.content{
	width:800px;
	height:200px;
	margin:0 auto;
}
.img-1{
	width:200px;
}
.acerca{
	height:100px;
	background:#18bc9c;
}
.acerca-1{
	background:#18bc9c;

}
.foter{
	background:#2c3e50;
}







